@use '../../assets/meta/' as *;

.header-wrapper {
    display:flex;
    justify-content: space-around;
    flex-flow: row;
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
    background-size:cover;
    margin:0;
  
    &__logo{
      width:20%;
      height:20%;
    }

    &__title {
        text-align: center;
        margin: auto;
        font-family:$title-font-family;
        font-size: 8vh;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
       
       & b span{
         animation: blink linear infinite 2s;
         margin: 0 3px;
       }
       & b span:nth-of-type(2){
         animation: blink linear infinite 3s;
       }

       @keyframes blink {
        78% {
          color: inherit;
          text-shadow: inherit;
        }
        79%{
           color: #333;
        }
        80% {
          
          text-shadow: none;
        }
        81% {
          color: inherit;
          text-shadow: inherit;
        }
        82% {
          color: #333;
          text-shadow: none;
        }
        83% {
          color: inherit;
          text-shadow: inherit;
        }
        92% {
          color: #333;
          text-shadow: none;
        }
        92.5% {
          color: inherit;
          text-shadow: inherit;
        }
      }
      
    }


    &__menu{
        list-style: none;
        background-color: aqua;
    }


}