@use '../../assets/meta/' as *;

.header-wrapper {
    display:flex;
    justify-content: space-around;
    flex-flow: row;
    background: rgb(24,21,21);
    background: linear-gradient(0deg, rgba(12,7,49,1) 0%,  rgba(24,21,21,1) 100%);
    margin:0;
  

    &__logo{
      width:20%;
      height:20%;
    }

    &__title {
        text-align: center;
        margin: auto;
        font-family:$title-font-family;
        font-size: 8vh;
        color: #fee;
        text-shadow: 0 0 10px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
       
       & b span{
         animation: blink linear infinite 2s;
         margin: 0 3px;
       }
       & b span:nth-of-type(2){
         animation: blink linear infinite 3s;
       }

       @keyframes blink {
        78% {
          color: inherit;
          text-shadow: inherit;
        }
        79%{
           color: #333;
        }
        80% {
          
          text-shadow: none;
        }
        81% {
          color: inherit;
          text-shadow: inherit;
        }
        82% {
          color: #333;
          text-shadow: none;
        }
        83% {
          color: inherit;
          text-shadow: inherit;
        }
        92% {
          color: #333;
          text-shadow: none;
        }
        92.5% {
          color: inherit;
          text-shadow: inherit;
        }
      }
      
    }


    &__menu{
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      cursor: pointer;
        
    }
    .stick {
      width: 45px;
      height: 4px;
      border-radius: 2px;
      margin-bottom: 8px;
      background-color: #2dfdb9;
      display: inline-block;
  }
  .stick:last-child {
      margin-bottom: 0px;
  }
  
  .stick-1.open {
      animation: stick-1-open 0.6s ease-out forwards;
  }
  
  .stick-2.open {
      animation: stick-2-open 0.6s linear forwards;
  }
  
  .stick-3.open {
      animation: stick-3-open 0.6s linear forwards;
  }
  
  @keyframes stick-1-open {
      0% {
          width: 80px;
      }
      40% {
          background-color: #ff1456;
          width: 4px;
          transform: translate(20px, 0px);
      }
      75%,
      80% {
          width: 4px;
          transform: translate(20px, -18px);
          animation-timing-function: cubic-bezier(0, 1, 1, 1);
      }
      100% {
          background-color: #ff1456;
          width: 4px;
          transform: translate(17px, 26px);
      }
  }
  
  @keyframes stick-2-open {
      80% {
          background-color: #2dfdb9;
          transform: translate(0px, 0px) rotate(0deg);
      }
      100% {
          background-color: #ff1456;
          transform: translate(0px, 0px) rotate(40deg);
      }
  }
  
  @keyframes stick-3-open {
      80% {
          background-color: #2dfdb9;
          transform: translate(0px, 0px) rotate(0deg);
      }
      100% {
          background-color: #ff1456;
          transform: translate(0px, -12px) rotate(-40deg);
      }
  }
  
  .stick-1.close {
      width: 8px;
      transform: translate(27px, 26px);
      animation: stick-1-close 0.6s ease-out forwards;
  }
  
  .stick-2.close {
      transform: translate(0px, 0px) rotate(40deg);
      animation: stick-2-close 0.6s ease-out forwards;
  }
  
  .stick-3.close {
      transform: translate(0px, -23px) rotate(-40deg);
      animation: stick-3-close 0.6s ease-out forwards;
  }
  
  @keyframes stick-1-close {
      0%,
      70% {
          width: 0px;
      }
      100% {
          width: 45px;
          transform: translate(0, 0);
      }
  }
  
  @keyframes stick-2-close {
      0% {
          background-color: #ff1456;
          width: 45px;
      }
      20% {
          background-color: #ff1456;
          width: 5px;
          transform: translate(0, 0px) rotate(40deg);
      }
      40% {
          background-color: #2dfdb9;
          width: 0px;
      }
      65% {
          transform: translate(0, -70px);
          animation-timing-function: cubic-bezier(0, 1, 1, 1);
      }
      80% {
          width: 0px;
      }
      100% {
          width: 45px;
          transform: translate(0, 0px);
      }
  }
  
  @keyframes stick-3-close {
      0% {
          background-color: #ff1456;
          width: 45px;
      }
      20% {
          background-color: #ff1456;
          width: 8px;
          transform: translate(0, -23px) rotate(-40deg);
      }
      40% {
          background-color: #2dfdb9;
      }
      65% {
          transform: translate(0, -93px);
          animation-timing-function: cubic-bezier(0, 1, 1, 1);
      }
      90% {
          width: 8px;
      }
      100% {
          width: 45px;
          transform: translate(0, 0px);
      }
  }


}