$color-white: #f6f6f6;
$color-night: #0c0731;
$color-blue: #4345f1;
$color-mid-dark-blue: #241f7b;
$color-dark-blue: #14104d;
$color-red: #ea3949;
$color-pink: #ec4bbb;
$color-dark-pink: #ec4186;
$color-purple: #913cbe;
$color-dark-purple: #52278c;

$color-neon-yellow: #fcec09;
$color-neon-yellow-shadow: #948600;
$color-neon-light-yellow: #eaf3b0;
$color-neon-light-yellow-shadow: #889538;
$color-warm-white: #eaf3b0;
$color-warm-white-shadow: #99936e;
$color-neon-orange: #ee7a23;
$color-neon-orange-shadow: #864612;
$color-neon-blue: #63aff7;
$color-neon-blue-shadow: #0f438e;
$color-neon-green: #70f76a;
$color-neon-green-shadow: #1a7b19;
$color-neon-pink: #f6c7f0;
$color-neon-pink-shadow: #a9729b;
$color-neon-red: #f46e70;
$color-neon-red-shadow: #8e0711;

$color-neon-magenta: #fa54d9;
$color-neon-magenta-shadow: #942b84;
$color-neon-purple: #ce89fd;
$color-neon-purple-shadow: #4c08a0;

$color-neon-turquoise: #a0fbfa;
$color-neon-turquoise-shadow: #0a5b5c;
$color-neon-white: #fdffff;
$color-neon-white-shadow: #888888;
