$color-white: #f6f6f6;
$color-night: #0c0731;
$color-blue: #4345f1;
$color-mid-dark-blue: #241f7b;
$color-dark-blue: #14104d;
$color-red: #ea3949;
$color-pink: #ec4bbb;
$color-dark-pink: #ec4186;
$color-purple: #913cbe;
$color-dark-purple: #52278c;
